@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

:root {
    --critical: #FF0000;
    --bad: #FFA700;
    --medium: #FFF400;
    --good: #A3FF00;
    --excelent: #2CBA00;

    --text: #D8D8D8;
    --background: #2E3033;

    --title-size: 2em;
    --emph-size: 1.85em;
    --text-size: 1.12em;
    --caption-size: 0.85em;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Raleway";
}

.inactive {
    display: none;
}

body {
    background-color: var(--background);
    color: var(--text);
}

#map-info-wrapper{
    margin: 30px auto;
}

#map-content {
    display: flex;
    justify-content: center;
}

#selection-name{
    text-align: center;
    font-size: var(--emph-size);
}

#map {
    position: relative;
    width: 700px;
}

#map svg {
    display: block;
    margin: 20px auto;
    background-image: url("../assets/buildings.png");
    background-repeat: no-repeat;
}

#map svg path{
    cursor: pointer;
}

#map-style-selector {
    position: absolute;
    right: 60px;
    display: flex;
    column-gap: 10px;
}

#map-style-selector svg {
    fill: var(--text);
    cursor: pointer;
}

#map-style-selector svg {
    opacity: 0.3;
    transition: opacity .5s;
}

.current-icon{
    opacity: 1 !important;
}

#map-style-selector svg:hover {
    opacity: 1;
    transition: opacity .5s;
}

#info {
    width: 400px;
}


.info-wrapper{
    margin-top: 20px;
    width: 400px;
    max-height: 420px;
    overflow-y: hidden;
}

.info-wrapper:hover{
    overflow-y: scroll;
}

.content {
    max-width: 1920px;
    margin: 0 auto;
}

#legend {
    position: relative;
    width: 10px;
    height: 500px;
    border-radius: 20px;
    font-size: var(--caption-size);
    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2cba00+20,a3ff00+40,fff400+60,ffa700+80,ff0000+100 */
    background: var(--excelent);
    /* Old browsers */
    background: -moz-linear-gradient(top, var(--excelent) 20%, var(--good) 40%, var(--medium) 60%, var(--bad) 80%, var(--critical) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, var(--excelent) 20%, var(--good) 40%, var(--medium) 60%, var(--bad) 80%, var(--critical) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, var(--excelent) 20%, var(--good) 40%, var(--medium) 60%, var(--bad) 80%, var(--critical) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--excelent), endColorstr=var(--critical), GradientType=0);
    /* IE6-9 */
}

#legend .legend-title{
    position: absolute;
    top: -30px;
    left: -20px;
    font-size: var(--caption-size);
    font-weight: bold;
}

#legend .legend-top-value{
    position: absolute;
    top: 5px;
    right: 15px;
}

#legend .legend-bottom-value{
    position: absolute;
    bottom: 5px;
    right: 15px;
}

#bati path.active{
    pointer-events: none;
}

.info-menu {
    display: flex;
}

.district-ranking-level{
    width: 230px;
    height: 5px;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,167,0,1) 25%, rgba(255,244,0,1) 50%, rgba(163,255,0,1) 75%, rgba(44,186,0,1) 100%);
}

.menu{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    cursor: pointer;
}

.menu p{
    pointer-events: none;
}

.info-menu{
    position: relative;
}

.info-menu .menu-bottom-border{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 3px;
    background-color: var(--text);
    transition: left .57s ease-out;
}

.adr-input-box {
    width: 50%;
    min-width: 960px;
    margin: 0 auto;
}

.adr-input-info-text {
    font-size: var(--text-size);
    text-align: center;
    margin-bottom: 20px;
}

.adr-input-content {
    margin: 0 auto;
    width: 80%;
    height: 65px;
    border: 1px solid var(--text);
    border-radius: 25px;
}

.adr-input-content input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: var(--text-size);
    background-color: transparent;
    border: none;
    border-radius: 25px;
}

.adr-input-content input:focus {
    outline: none;
}

.power-ranking-elem{
    padding: 5px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 20px;
    transition: background-color .2s;
}

.power-ranking-elem:hover {
    background-color: var(--text);
    color: var(--background);
    transition: background-color .2s;
}

.ranking-number{
    border: 1px solid var(--text);
    width: 30px;
    height: 30px;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    padding: 20px 0;
    font-size: var(--title-size);
}

#form {
    display: none;
}

#form {
    display: none;
}

#openForm {
    width: 800px;
}